body {
  background-color: #66cdcc;
  font-family: "Noto Serif SC", serif;
  margin: 0;
}
header {
  background: #f5f5f5;
}
header::after {
  content: "";
  display: table;
  clear: both;
}
.nav {
  display: flex;
}

.nav__list {
  width: 90%;
  justify-content: flex-end;
  padding: 10;
  list-style: none;
  display: flex;
}
.nav__item {
  margin-left: 50px;
}
.nav__link {
  text-decoration: none;
  color: black;
  font-family: "Bangers";
  text-transform: uppercase;
  font-size: 25px;
}
.nav__link:hover {
  color: #66cdcc;
}
.nav__item--logo {
  margin-right: auto;
}
.nav__link--logo {
  font-family: "Bangers", cursive;
  color: #66cdcc;
}
.tittle {
  display: flex;
  justify-content: center;
  margin: auto 0;
}
.form {
  display: flex;
  width: 50%;
  margin: 0 auto;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.form__tittle {
  margin: 0 auto;
}
