@import "https://fonts.googleapis.com/css?family=Lato:400,700";

* {
  box-sizing: border-box;
}

body {
  background-color: #eee;
  margin: 0;
  font-family: "Lato", sans-serif;
}

.nav {
  display: flex;
  background-color: #ccc;
  box-shadow: 0px 1px 4px 0px rgb(113, 111, 113);
  position: sticky;
  top: 0;
}

.nav__list {
  display: flex;
  list-style: none;
  width: 100%;
  margin: 0;
  justify-content: flex-end;
}

.nav__item {
  display: flex;
  align-items: center;
  margin: 0 3rem 0 30px;
}

.nav__link {
  display: flex;
  text-decoration: none;
  color: #333;
  padding: 1rem;
}

.nav__link:hover {
  transition: 300ms;
  opacity: 0.4;
}

.nav__item--logo {
  margin-right: auto;
}

.nav__item--img {
  width: 300px;
  height: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  padding: 0.5rem;
  align-items: center;
}

.get-started-section {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.get-started-section__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.get-started-section__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.get-started-section__input {
  margin-bottom: 1rem;
  width: 280px;
  padding: 5px;
  border-radius: 2px;
  background-color: #eee;
  border: 1px solid #888888;
}

.get-started-section__input:invalid:focus {
  outline: none;
  border: 1px solid #f08080;
}

.get-started-section__input:placeholder-shown {
  border: 1px solid #888888;
}

.get-started-section__button {
  justify-content: center;
  display: flex;
  width: 170px;
  background-color: #f1c40f;
  padding: 5px 20px;
  font-size: 1rem;
  font-weight: 900;
  text-transform: uppercase;
  border-style: none;
  border-radius: 2px;
}

.get-started-section__button:hover {
  cursor: pointer;
  transition-duration: 400ms;
  background-color: darkorange;
}

.advantages-section {
  margin: 4rem 0;
  display: grid;
  max-width: 50rem;
  grid-template-columns: 4rem 1fr;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
}

.advantages-section__title {
  margin-bottom: 0rem;
  padding-left: 0.5rem;
}
.advantages-section__description {
  margin-top: 0rem;
  padding: 0 0.5rem;
}

.advantages-section__icon {
  place-self: center;
  color: darkorange;
  padding-left: 0.1rem;
}

@media screen and (max-width: 600px) {
  .nav__list {
    flex-direction: column;
  }

  .nav__item {
    margin: 2px auto;
  }
  .container {
    margin: 1rem auto;
    flex-direction: column;
  }

  .get-started-section__title {
    text-align: center;
  }

  .advantages-section {
    grid-column-gap: 1rem;
  }
}
