@import "https://fonts.googleapis.com/css?family=Lato:400,700";

* {
  box-sizing: border-box;
}

body {
  background-color: #eee;
  margin: 0;
  font-family: "Lato", sans-serif;
}

.nav {
  display: flex;
  background-color: #ccc;
  box-shadow: 0px 1px 4px 0px rgb(113, 111, 113);
  position: sticky;
  top: 0;
}

.nav__list {
  display: flex;
  list-style: none;
  width: 100%;
  margin: 0;
  justify-content: flex-end;
}

.nav__item {
  display: flex;
  align-items: center;
  margin: 0 3rem 0 30px;
}

.nav__link {
  display: flex;
  text-decoration: none;
  color: #333;
  padding: 1rem;

}

.nav__link:hover {
  transition: 300ms;
  opacity: 0.4;
}

.nav__item--logo {
  margin-right: auto;
}

.nav__item--img {
  width: 300px;
  height: 30px;
}

@media screen and (max-width: 600px) {
  .nav__list {
    flex-direction: column;
  }

  .nav__item {
    margin: 2px auto;
  }


}

.container {
  display: flex;
  margin: 1.5rem 20% 1rem 20%;
}

.container__item {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.container__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.container__input {
  margin: 0 18% 1rem 18%;
  padding: 5px;
  border-radius: 2px;
  background-color: #eee;
  border: 1px solid #888888;
}

.container__input:invalid:focus {
  outline: none;
  border: 1px solid #f08080;
}

.container__input:placeholder-shown {
  border: 1px solid #888888;
}

.container__button {
  display: flex;
  margin: 0 30%;
  background-color: #f1c40f;
  padding: 5px 20px;
  font-size: 1rem;
  font-weight: 900;
  text-transform: uppercase;
  border-style: none;
  border-radius: 2px;
}

.container__button:hover {
  cursor: pointer;
  transition-duration: 1000ms;
  background-color: darkorange;
}

@media screen and (max-width: 600px) {
  .container {
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
  }
}
